* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: DejaVu Sans;
    font-size: 15px;
}

window#waybar {
    background-color: #0e0e14;
    /*border-top: 1px solid rgba(70, 70, 70, 0.5);
    transition-property: background-color;
    transition-duration: .5s;*/
    border:1px solid black;
    border-radius: 5px;
}

window#waybar.hidden {
    opacity: 0.2;
}

button {
  border: none;
}
button.urgent {
    background-color: #eb4d4b;
}

label:disabled,
button:disabled {
  color: inherit;
  background: inherit;
}

button:hover {
  background: grey;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #ffffff;
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each workspace name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.focused {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    border-bottom: 3px solid #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#taskbar,
#temperature,
#idle_inhibitor,
#mpd {
    padding: 2px;
    color: #ffffff;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}
#taskbar button{
    color:white;
    font-size: 17px;
}
#taskbar button.active,button.hover{
    background: grey;
    color: black;

}
