* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: DejaVu Sans;
    font-size: 15px;
}

window#waybar {
    background-color: #edeceb;
    /*border-top: 1px solid rgba(70, 70, 70, 0.5);
    transition-property: background-color;*/
    transition-duration: .3s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

button {
  border: none;
}
button.urgent {
    background-color: #eb4d4b;
}

label:disabled,
button:disabled {
  color: inherit;
  background: inherit;
}

button:hover {
  background: #c2bfbc;
}

#taskbar button{
	margin-left:		1px;
	margin-right:		2px;
	margin-top:		    2px;
	margin-bottom:		1px;

	padding:		2px;
	border:			1px solid #909090;
	border-radius:		3px;
	color:			#1a1a1a;
}
#taskbar button.active,button.hover{
	background-color:#c2bfbc;
	color:			#1a1a1a;
	border:			1px solid #909090;
	border-radius:		3px;
}

